body{
    padding: 0;
    margin: 0;
	background-image:url(/img/capa.png), linear-gradient(90deg ,#ff4169, #7c26f8);
}

nav {
    gap: 30em;
	height: 5em;
	background-color: black;
	opacity: 0.8;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.btn-group{
	display: none !important;
}

.img-size{
    width: 10em;
}

a {
	text-decoration: none;
	color: white !important;
	margin: 1em;
}

a:hover {
	text-decoration: none !important;
	color: #9bf0e1 !important;
}

header {
	width: auto;
	height: 100vh;
}

.tamanho-carrosel{
	width: 150vh;
	text-align: center;
}

h1 {
	color: white;
	font-size: 5em !important;
	font-weight: bold !important;
}

#botao-roxo {
	border: none;
	color: white;
	background-color: #7c26f8;
	border-radius: 1.5em;
	padding: 0.5em;
	width: 16em;
}

.botao-branco{
	border-color: white;
	border-width: 2px;
	color: white;
	border-radius: 1.5em;
	background-color: transparent;
	padding: 0.5em;
	width: 16em;
}

section {
	background-color: white;
	height: auto;
	gap: 5%;
}

.espaco-album{
	display: grid;
	grid-template-columns: 1fr 3fr;
	column-gap: 4%;
	width: 50vh;
	margin-right: 3rem !important;
}

.imagem-album{
	width: 14em;
}

.espaco-texto-celular {
	width: 25% !important;
	padding: 3rem !important;
}

.imagem-iphone{
	width: 15em;
	rotate: 26deg;
	margin: 2em;
}

.titulo-album{
	color: #7c25f8;
	font-weight: bold !important;
}

.titulo-iphone{
	color: #9bf0e1;
	font-weight: bold !important;
}

.texto-branco{
	color: white !important;
}

.titulo-facil{
	font-size: 3em !important;
}

footer {
	background-color: black;
	height: 30vh;
	gap: 5em;
	padding: 3rem !important;
}

li {
	list-style: none;
	color: white;
}

li:hover {
	color: #9bf0e1;
	cursor: pointer;
}

h4 {
	color: #919496;
}

@media(max-width: 375px) {
	nav {
		column-gap: 30%;
		position: fixed;
		top: 0;
	}

	.topicos-nav-normal{
		display: none;
	}

	.estilo-botao-dropdown{
		background-color: black !important;
	}

	.btn-group{
		display: inline !important;
		float: right;
	}

	.dropdown-menu{
		background-color: black !important;
		opacity: 0.8;
		width: 100%;
		float: left;
	}

	.img-size{
		width: 7em;
	}

	.margin-botao-celular{
		margin-bottom: 1em;
	}

	.carousel-item {
		width: auto !important;
	}

	#botao-roxo{
		width: 18em;
	}

	.tamanho-carrosel h1{
		font-size: 1.5em !important;
	}

	.tamanho-carrosel {
		width: 50vh !important;
	}

	.preview button {
		font-size: 0.7em !important;
	}

	.double-button{
		display: flex !important;
		flex-direction: column !important;
	}

	#botao-roxo {
		padding: 0.5em;
		width: 16em;
	}
	
	.botao-branco{
		padding: 0.5em;
		width: 16em;
	}

	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.espaco-album{
		display: flex;
		flex-direction: column;
		margin: 0 !important;
		align-items: center;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.titulo-album {
		align-items: center;
		font-size: 1em;
	}

	.espaco-texto-celular {
		width: 100% !important;
		padding: 0;
	}

	article {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.imagem-iphone{
		width: 12em;
		rotate: 0deg;
		margin: 0;
	}

	.imagem-iphone-celular{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		rotate: 12deg;
	}

	footer {
		display: flex;
		flex-direction: column;
		justify-content: center !important;
		align-items: center !important;
		height: auto;
		padding: 1 !important;
	}

	.footer-celular {
		font-size: 0.5em !important;
	}

	li {
		text-align: center;
		font-size: 2em;
	}

	.icones-celular {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2%;
	}
}

#cores-de-exemplo {
    color: #ff4169,#7c26f8, rgba(0,0,0,0.6);
	color: white;
	color: #9bf0e1;
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
	background: white;
	color: white;
	background: #7c25f8;
	background: #6207e3;
	color: white;
	border: 2px solid white;
	background-color: white;
	color: black;
	background: white;
	color: white;
	color: #7c25f8;
	color: white;
	color: #9bf0e1;
	background: #000;
	color: #919496;
	color: white;
	color: #9bf0e1;
	color: white;
}